@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <img class="img-fluid" src="~/images/bikes.jpg" />
</div>
<br>
<div class="row text-center">
    <div class="col">
        <h3 class="display-4">Welcome To Bike Parts Shop</h3>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Customers</div>
            <div class="card-body">
                <h4 class="card-title">Customer Summary</h4>
                <p class="card-text">We have @ViewData["CustomerCount"] customers</p>
                <p class="card-text">@ViewData["customersMadeOrder"] customers have made orders.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Stock</div>
            <div class="card-body">
                <h4 class="card-title">Stock Summary</h4>
                <p class="card-text">We have @ViewData["StockCount"] products</p>
                <p class="card-text">Products are under @ViewData["productTypes"] product types</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-warning mb-3">
            <div class="card-header">Orders</div>
            <div class="card-body">
                <h4 class="card-title">Order Summary</h4>
                <p class="card-text">We have @ViewData["OrderCount"] orders</p>
                <p class="card-text">We have @ViewData["thisYearOrder"] orders in current year</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-info mb-3">
            <div class="card-header">Staff</div>
            <div class="card-body">
                <h4 class="card-title">Staff Summary</h4>
                <p class="card-text">We have @ViewData["StaffCount"] staff</p>
          

            </div>
        </div>
    </div>
</div>

